extends common/layout

block content
  main
    div
      p.text1-3 How Dreamshare works?
      div
        .Step_1
          div
            div
              div
                button STEP 1
                p.text1-1 Sed leo enim, condimentum
                p.text1-2
                  | Quisque libero libero, dictum non turpis in, luctus semper lorem.
                  | Donec rhoncus a leo sit amet facilisis.
        .Step_2
          div
            div
              div
                button STEP 2
                p.text2-1 Morbi velit risus
                p.text2-2
                  | Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit
                  | amet porttitor est.
        .Step_3
          div
            div
              div
                button STEP 3
                p.text1-1 Sed leo enim, condimentum
                p.text1-2
                  | Quisque libero libero, dictum non turpis in, luctus semper lorem.
                  | Donec rhoncus a leo sit amet facilisis.
    .Meet_partner
      p Meet a partner for your best holiday
      div
        div
          div
            img.partner(src='../../images/Bitmap-1-2.png')
            div
              img(src='../../images/Shape.svg')
          div
            p Bradley Hunter
            p Based in Chicago. I love playing tennis and loud music.
        div
          div
            img.partner(src='../../images/Bitmap-2-2.png')
            div
              img(src='../../images/Shape-1.svg')
          div
            p Marie Bennett
            p Currently living in Colorado. Lover of art, languages and travelling.
          div
            p Diana Wells
            p
              | Living in Athens, Greece. I love black and white classics, chillout music and green tea.
        div
          div
            img.partner(src='../../images/Bitmap-3-2.png')
            div
              img(src='../../images/camera.svg')
          div
            p Diana Wells
            p
              | Living in Athens, Greece. I love black and white classics, chillout music and green tea.
          div
            p Marie Bennett
            p Currently living in Colorado. Lover of art, languages and travelling
        div
          div
            img.partner(src='../../images/Bitmap-4-2.png')
            div
              img(src='../../images/Shape-3.svg')
          div
            p Christopher Pierce
            p Star Wars fanatic. I have a persistent enthusiasm to create new things.
      button.partners See other partners
    .ideas
      p Discover holiday activity ideas
        div
          .sport
            .mask
            img(src='../../images/sport.png' alt='')
            img(src='../../images/sport-2.png' alt='')
            img(src='../../images/sport-3.png' alt='')
            p Sports and Activis
          .healath
            .mask
            img(src='../../images/healath.png' alt='')
            img(src='../../images/healath-2.png' alt='')
            img(src='../../images/healath-3.png' alt='')
            p Wellness and Health
          .extreme
            .mask
            img(src='../../images/extreme.png' alt='')
            img(src='../../images/extreme-2.png' alt='')
            img(src='../../images/extreme-3.png' alt='')
            p Extreme Sports and Expeditions
          .Games
            .mask
            img(src='../../images/Games.png' alt='')
            img(src='../../images/Games-2.png' alt='')
            img(src='../../images/Games-3.png' alt='')
            p Games
          .Culture
            .mask
            p Culture and Education
            img(src='../../images/Culture.png' alt='')
            img(src='../../images/Culture-2.png' alt='')
          .Culture_Copy
            .mask
            img(src='../../images/Culture_Copy.png' alt='')
            img(src='../../images/Culture_Copy-2.png' alt='')
            img(src='../../images/Culture_Copy-3.png' alt='')
            p Enjomet and Relaxation
          .Games_Copy
            .mask
            img(src='../../images/Games_Copy.png' alt='')
            img(src='../../images/Games_Copy-2.png' alt='')
            img(src='../../images/Games_Copy-3.png' alt='')
            p Trevelling
    .interests
      p Crate your holiday activity
      p Hi! What are your holiday interests?
      input(type='text' placeholder='Enter your insterests')
      button Search partners