footer
  p DREAMSHARE
  div
    p Company
    ol
      li About
      li Contact
      li Press
      li Blog
      li Terms and Privacy
      li Help
  p Partners
  div
    p DESIGNED BY
    img(src='../../images/logo.png', alt='')
