header
  .Headaer_and_Promo
    .Background
      .cont-1
        p.text-1 DREAMSHARE
        .cont-2
          p.text-2 Log in
          button.button Sign up
      p.text-3 SHARE YOUR HOLIDAY DREAM
      p.text-4 And find the perfect partner to fullfill it
      button.button-1 Find your holiday partner